---
import "../services.css";
// Components
import { Image } from "astro:assets";
import Footer from "../../components/footer/Footer.astro";

// Images
import Layout from "../../layouts/Layout.astro";

const services = [
  {
    title: "Education Consultancy",
    texts: [
      "We open you up a wider horizon. The times are changing, and squandered opportunities might never be found again.",
      'You may be eligible for these schemes if you are older than 16 but under 60 and "settled" in the UK.',
      "Regardless of your present academic standing, there are daytime, evening, and weekend programmes available (2 days a week).",
      "Available spots for FUNDED ACADEMIC PROGRAMMES that lead to MAINTENANCE LOAN + QUALIFICATIONS [Dip., HND, BA, BSc, LLB, MA, Msc, or MBA]? (for a maximum of £50,000).",
    ],
    bgColor: "#08142E",
    color: "white",
  },
];
---

<Layout>
  <div class="service_hero">
    <div class="service_hero_bg">
      <Image
        src="https://images.unsplash.com/photo-1607013407627-6ee814329547?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt={services[0].title}
        width={1000}
        height={600}
      />
    </div>
    <div class="service_hero_text">
      {services[0].title}
    </div>
  </div>
  <div
    class="service_content"
    style={`background: ${services[0].bgColor}; color: ${services[0].color}`}
  >
    <div class="px">
      {services[0].texts.map((text) => <p>{text}</p>)}
    </div>
    <div class="admission_link">
      <a href="admissions">Learn More</a>
    </div>
  </div>

  <Footer />
</Layout>

<style>
  .admission_link {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .admission_link a {
    display: block;
    margin-top: 30px;
    padding: 10px 16px;
    background: white;
    width: max-content;
    color: #6d352e;
    border-radius: 10px;
  }
</style>
