---
import "../services.css";
// Components
import { Image } from "astro:assets";
import Footer from "../../components/footer/Footer.astro";
import Layout from "../../layouts/Layout.astro";

// Images
import cleaner_img from "../../images/cleaner_img.jpeg";

const services = [
  {
    title: "Cleaning Service",
    texts: [
      "We offer a wide range of every day and highly specialised cleaning services for home, business and mass sites. We also provide security officers for all types of businesses and projects, large and small.",
      "We specialize in Industrial, Public Transportation, Hostel and Daily Cleaning. Based on our track record we have provided exceptional, reliable and round the clock services.",
    ],
    bgColor: "#0B1B1E",
    color: "white",
  },
];
---

<Layout>
  <div class="service_hero">
    <div class="service_hero_bg">
      <Image
        src={cleaner_img}
        alt={services[0].title}
        width={1000}
        height={600}
      />
    </div>
    <div class="service_hero_text">
      {services[0].title}
    </div>
  </div>
  <div
    class="service_content"
    style={`background: ${services[0].bgColor}; color: ${services[0].color}`}
  >
    <div class="px">
      {services[0].texts.map((text) => <p>{text}</p>)}
    </div>
  </div>

  <Footer />
</Layout>
