---
import { Image } from "astro:assets";
import "./nav.css";
import logo from "../../images/logo.svg";
import logo_alt from "../../images/logo_alt.svg";
import burger_icon from "../../images/burger_icon.svg";
import burger_close_btn from "../../images/burger_close_btn.svg";

const navLinks = [
  {
    path: "/",
    title: "Home",
  },
  {
    path: "#digital_marketing",
    title: "Digital Marketing",
  },
  {
    path: "admissions",
    title: "Higher Education Advisory",
  },
  {
    path: "recruitment",
    title: "Recruitment",
  },
  {
    path: "about",
    title: "About",
  },
  {
    path: "contact",
    title: "Contact",
  },
];
---

<nav>
  <div class="logo">
    <a href="/">
      <Image src={logo} alt="Intelectiva Logo" />
    </a>
  </div>
  <ul>
    <div class="burger_imgs">
      <div class="logo">
        <Image src={logo_alt} alt="Intelectiva Logo" />
      </div>
      <div class="burger_close_btn">
        <Image src={burger_close_btn} alt="" width={22} />
      </div>
    </div>
    {
      navLinks.map((navlink) => (
        <li>
          <a href={navlink.path}> {navlink.title} </a>
        </li>
      ))
    }
  </ul>
  <div class="burger">
    <Image src={burger_icon} alt="Intelectiva Logo" height={20} />
  </div>
</nav>

<script>
  const burger = document.querySelector(".burger");
  const burger_close = document.querySelector(".burger_close_btn");
  const nav = document.querySelector("nav ul");
  const navLinks = nav.querySelectorAll("li");

  // toggle mobile nav
  burger.addEventListener("click", () => {
    nav.classList.add("active");
  });

  burger_close.addEventListener("click", () => {
    nav.classList.remove("active");
  });

  // Close mobile nav on each nav link click
  navLinks.forEach((navLink) => {
    navLink.addEventListener("click", () => {
      if (nav.classList.contains("active")) nav.classList.remove("active");
    });
  });

  window.addEventListener("resize", () => {
    if (window.innerWidth > 768) nav.classList.remove("active");
  });
</script>
