---
import { Image } from "astro:assets";
import "./nav.css";
import logo from "../../images/logo.svg";
import logo_alt from "../../images/logo_alt.svg";
import burger_icon from "../../images/burger_icon.svg";
import burger_close_btn from "../../images/burger_close_btn.svg";

const navLinks = [
  {
    path: "/",
    title: "Home",
  },
  {
    services: [
      {
        path: "/digital_marketing",
        title: "Digital Marketing",
      },

      {
        path: "/business_development",
        title: "Business Development",
      },

      {
        path: "/admissions",
        title: "Higher Education Advisory",
      },

      {
        path: "/cleaning_service",
        title: "Cleaning Service",
      },
    ],
  },

  {
    path: "/recruitment",
    title: "Recruitment",
  },
  {
    path: "/about",
    title: "About",
  },
  {
    path: "/contact",
    title: "Contact",
  },
];
---

<nav>
  <div class="logo">
    <a href="/">
      <Image src={logo} alt="Intelectiva Logo" />
    </a>
  </div>
  <ul>
    <div class="burger_imgs">
      <div class="logo">
        <Image src={logo_alt} alt="Intelectiva Logo" />
      </div>
      <div class="burger_close_btn">
        <Image src={burger_close_btn} alt="" width={22} />
      </div>
    </div>
    {
      navLinks.map((navlink) => {
        if (!navlink.services) {
          return (
            <li>
              <a href={navlink.path}> {navlink.title} </a>
            </li>
          );
        } else {
          return (
            <>
              <li id="services">
                <a href="#">Services</a>
                <ul class="sub_tree" id="sub_tree">
                  {navLinks.map(
                    (link) =>
                      link.services &&
                      link.services.map((service) => (
                        <li class="service_link">
                          <a href={service.path}>{service.title}</a>
                        </li>
                      ))
                  )}
                </ul>
              </li>
            </>
          );
        }
      })
    }
  </ul>
  <div class="burger">
    <Image src={burger_icon} alt="Intelectiva Logo" height={20} />
  </div>
</nav>

<script>
  const burger = document.querySelector(".burger");
  const burger_close = document.querySelector(".burger_close_btn");
  const nav = document.querySelector("nav ul");
  const navLinks = nav.querySelectorAll("li");
  const servicesToggle = document.getElementById("services");
  const servicesTree = document.getElementById("sub_tree");

  // toggle mobile nav
  burger.addEventListener("click", () => {
    nav.classList.add("active");
  });

  burger_close.addEventListener("click", () => {
    nav.classList.remove("active");
    if (servicesTree.classList.contains("active")) {
      servicesTree.classList.remove("active");
    }
  });

  // Close mobile nav on each nav link click
  navLinks.forEach((navLink) => {
    navLink.addEventListener("click", () => {
      if (navLink.id !== "services") {
        if (nav.classList.contains("active")) nav.classList.remove("active");
      }
    });
  });

  window.addEventListener("resize", () => {
    if (window.innerWidth > 768) nav.classList.remove("active");
    if (window.innerWidth > 768) servicesTree.classList.remove("active");
  });

  // toggle services tree

  servicesToggle.addEventListener("click", () => {
    servicesTree.classList.toggle("active");
  });
</script>
